<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leco.ykg">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <!--附近车锁-->
        <activity
            android:name=".NearbyLockListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>


